@{
    ViewBag.Title = "Index";
}

<h3 style="text-align:center; color:black">Click on any picture to know about it and play it.</h3>
@* Division for Work Image Section1*@
<div class="WorkImagesSection1">


    @* Division for Battle Ship Images*@
    <div class="BattleShipImages">
       

            <div class="image active">
                <img class="ajax-get" src="~/Content/themes/base/images/BattleShip1.png" style="width: 330px; height:200px" />
            </div>
            
        <em>BattleShip</em><br />

        @*<div class="buttons">*@
            
            @* &nbsp;|&nbsp;
            <span class="image-previous">
                <strong>Previous</strong>
            </span>
        </div>*@

    </div>
    @* Battle Ship Images End*@




    @* Dragon Combat Images Start*@
        <div class="DragonCombatImages">
              
                    <div class="image active">
                    <img src="~/Content/themes/base/images/dragonCombat1.png" style="width: 330px; height:200px" />
                    </div>

                    
                <em>DragonCombat</em><br />
            
           
    @* Dragon Combat Images End*@
    </div>
    @* Work Images Section1 End*@


        @*Work Image Section2 Start*@
        <div class="WorkImagesSection2">

            @*Guess That Number Images Start*@
            <div class="GuessThatNumberImages">

                
                <div class="image active">
                        <img src="~/Content/themes/base/images/GuessThatNumber1.png" style="width: 330px; height:200px" />
                </div>
                 
                <em>GuessTheNumber</em><br />
                
                
            </div>
            @*Guess That Number Images End*@

            @*Hangman Images Start*@
            <div class="HangmanImages">
                
                <div class="image active">
                    <img src="~/Content/themes/base/images/Hangman1.png" style="width: 330px; height:200px" />
                </div>
                
                        
                <em>Hangman</em><br />
                 

             </div>
            @*Hangman Images End*@

            </div>
            @*Work Images Section2 End*@


    
